body {
    font-family: Arial;
    margin: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #0a66c2;
    color: white;
}

a {
    display: inline-block;
    margin-bottom: 20px;
}
